---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "AI-Powered Matchmaking",
    description:
      "Our platform utilizes advanced AI algorithms to match African talents with global opportunities, providing a tailored job hunting experience",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Specialized Education Resources",
    description:
      "We offer a host of educational resources specifically designed for the needs of African professionals, supporting their continuous learning and growth",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Personalized Career Guidance",
    description:
      "Our AI-powered assistance provides personalized career guidance, helping individuals make informed decisions about their career paths",
    icon: "bx:bxs-data",
  },
  {
    title: "Global Exposure",
    description:
      "We provide a platform for African talents to showcase their skills and capabilities to a global audience, attracting potential investors, partners, and employers",
    icon: "bx:bxs-bot",
  },
  {
    title: "Skill Development",
    description:
      "We offers resources and tools to help users develop and enhance their skills, staying competitive in the rapidly evolving global job market",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community Support",
    description:
      "Our platform fosters a community of like-minded professionals, offering a space for collaboration, networking, and mutual support",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Scaling in the fast-paced computing era
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our business software-as-a-service provides a wide range of personalized
    resources to facilitate the transformation of your ideas into assets:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
