---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Amplify Africa: Empowering Talent with AI
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Leverage AI to access specialized educational resources and personalized
      job experiences. Designed for enterprise and Microsoft users, our platform
      bridges the gap between innovative African minds and global opportunities.
      Discover, collaborate, and grow with us.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=T8uisOtp7U2yn3IDq0-2m2ewKF5h4L1JszEghSPbgSxURUEyQ00xREw3V0NDRDZUT0laQzcwRlI1US4u"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Signup
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://techhub.cloudflareaccess.com/cdn-cgi/access/login/techhub.cloudflareaccess.com?redirect_url=%2F&kid=5aebecaae64377eb630fd5924d72119c2f6e7cec28755f0e41325d6519c47546"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bx-log-in" />
        Signin
      </Link>
    </div>
  </div>
</main>
